@model IEnumerable<ProvaTecnicaWebApplication.Models.ProdutoViewModel>

@{
    ViewBag.Title = "Produtos";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
        </tr>
    }

</table>